* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2787EA;
    margin: 0 0 20px;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    text-align: center;
    background-color: #1C67D2
    margin: 0 auto;
}

h1 {
    text-align: center;
    background-color: #1C67D2;
    margin: 20 auto; 
}

nav {
    background-color: #25395C;
    padding: 20px 20px 20px 20px;
    margin: 0 0 0 20px;
    position: fixed;
    float: right;
    top: 0;
}

nav a {
    background-color: #25395C;
}

.article {
    padding: 0px 30px 0px 300px;
}

.article table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
}

.article th {
    background-color: #1C67D2;
}